<% title; description %>
<h2><%= t(".title") %></h2>
<ul class="statuses">
  <%= render :partial => 'activities/activity_home_page', :collection => @activities %>
</ul>

<%= will_paginate(@activities) %>